* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --rich-black-color: #0B090A;
    --eerie-black-color: #161A1D;
    --imperial-red-color: #E5383B;
    --cultured-color: #F5F3F4;
    --youtube-color: #FF0000;
    --instagram-color: #F77737;
    --twitter-color: #1DA1F2;
    --facebook-color: #4267B2;
}

html {
    scrollbar-width: none;
}

body {
    min-width: 100%;
    padding-top: 50px;
    overflow: scroll;
    background-color: var(--cultured-color);
}

/* Navigation bar styling */
header .main-navigation {
    display: flex;
    position: fixed;
    padding: 5px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--rich-black-color);
}

.main-navigation .tribar {
    font-size: 25px;
    margin: 10px 15px;
    color: var(--cultured-color);
}

.main-navigation .fitness-logo {
    margin-top: 11px;
    font-size: 20px;
    font-family: 'Lobster', 'Times New Roman', Times, serif;
}

.main-navigation .fitness-logo a {
    color: var(--imperial-red-color);
    text-decoration: none;
}

.main-navigation .fitness-logo i {
    transform: rotate(46deg);
}

header nav .close-button {
    position: absolute;
    right: 5px;
    font-size: 20px;
    margin: 10px;
    color: var(--eerie-black-color);
}

header nav {
    position: fixed;
    z-index: 2;
    width: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100vh;
    transition: 0.5s;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: var(--cultured-color);
}

header nav ul {
    position: relative;
    top: 10%;
    list-style-type: none;
}

header nav li {
    text-align: center;
    padding: 20px 20px 10px;
}

header nav li:first-child {
    margin-top: 50px;
}

header nav a {
    color: var(--eerie-black-color);
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 1px solid var(--eerie-black-color);
}

.menu-heading {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10%;
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--imperial-red-color);
    background-color: var(--eerie-black-color);
}

.member-account {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.account-options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 415px;
    margin-bottom: 30px;
}

.account-options div {
    text-align: center;
    width: 35%;
    max-width: 128px;
}

.account-options div a {
    display: block;
    padding: 8px 5px;
    font-size: 0.9rem;
    border-radius: 25px;
    color: var(--cultured-color);
    background-color: var(--imperial-red-color);
    border: 2px solid var(--imperial-red-color);
}

.login-media {
    display: none;
}

/* Footer styling */
footer {
    height: auto;
    top: 305px;
    padding: 30px 20px 20px;
    position: relative;
    font-family: 'Hind Siliguri', sans-serif;
    color: var(--cultured-color);
    background-color: var(--rich-black-color);
    border: 1px solid var(--rich-black-color);
}

.footer-setting {
    top: 0;
}

.company-info {
    display: grid;
    justify-content: space-evenly;
    column-gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        "hours menu"
        "contact ."
        "logo logo"
        "hr hr"
        "copyright copyright";
}

.company-info .title {
    margin-bottom: 10px;
    font-weight: bold;
}

.content-height {
    line-height: 35px;
    font-size: 0.8rem;
}

.company-hours, .website-menu, .company-contact {
    padding-left: 20px;
}

.company-info .company-hours {
    grid-area: hours;
}

.company-info .website-menu {
    grid-area: menu;
}

.website-menu ul {
    list-style-type: none;
}

.website-menu ul li a {
    color: var(--cultured-color);
    text-decoration: none;
}

.company-info .company-contact {
    grid-area: contact;
    margin: 20px 0;
}

.company-contact p a {
    color: var(--cultured-color);
    text-decoration: none;
}

.company-info .company-name-social {
    grid-area: logo;
}

.company-info .fitness-name {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--imperial-red-color);
    font-family: 'Lobster', 'Times New Roman', Times, serif;
}

.company-info .fitness-name a {
    color: var(--imperial-red-color);
    text-decoration: none;
}

.company-info .fitness-name i {
    margin-left: 2px;
    transform: rotate(46deg);
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media div {
    margin: 20px 5px;
    font-size: 0.8rem;
}

footer hr {
    grid-area: hr;
    margin-bottom: 20px;
    opacity: 0.4;
}

.copyrights {
    grid-area: copyright;
    color: var(--cultured-color);
    font-size: 0.8rem;
    text-align: center;
}

/* Sidebar social media styling */
aside nav {
    position: fixed;
    width: 25px;
    top: 220px;
    z-index: 1;
}

aside li {
    font-size: 0.7rem;
    height: 30px;
    position: relative;
    list-style: none;
}

aside li a {
    color: var(--cultured-color);
    display: block;
    height: 100%;
    text-decoration: none;
    border-radius: 0 8px 8px 0;
}

aside li:nth-child(1) a {
    background: var(--youtube-color);
}

aside li:nth-child(2) a {
    background: var(--instagram-color);
}

aside li:nth-child(3) a {
    background: var(--twitter-color);
}

aside li:nth-child(4) a {
    background: var(--facebook-color);
}

aside li a i {
    position: absolute;
    padding-top: 9px;
    padding-left: 4px;
}

aside li a span {
    display: none;
}

/* Home page styling */
.home-container {
    height: 300px;
    width: 100%;
    top: 58px;
    position: fixed;
    background-image: url(../images/home-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--rich-black-color);
}

.home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 10px;
    align-items: center;
}

.home-content .fitness-moto {
    max-width: 235px;
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Lobster', 'Times New Roman', Times, serif;
}

.home-content .fitness-name {
    display: none;
}

.classes-info {
    font-size: 0.9em;
    max-width: 235px;
    text-align: center;
    margin-top: 20px;
    color: var(--rich-black-color);
}

.classes-option {
    text-align: center;
    margin-top: 15px;
}

.classes-option a {
    font-size: 0.8em;
    margin-bottom: 10px;
    display: inline-block;
    width: 140px;
    text-align: center;
    color: var(--cultured-color);
    text-decoration: none;
    background-color: var(--imperial-red-color);
    border-radius: 5px;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 20px;
    top: 305px;
    position: relative;
    color: var(--cultured-color);
    background-color: var(--eerie-black-color);
}

.content-first img {
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 5%;
    box-shadow: 15px 15px 15px var(--rich-black-color);
}

.training-info {
    margin-top: 40px;
}

.training-info .training-heading {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.training-info span {
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    color: var(--imperial-red-color);
}

.training-info p {
    font-size: 0.9rem;
    margin: 0 auto;
    max-width: 458px;
    text-align: center;
    line-height: 30px;
    padding: 0 8px;
}

.training-record {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.record span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.record span:first-of-type {
    font-size: 1.5rem;
    font-style: italic;
}

.content-second {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.choice-heading {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
    padding: 0 8px;
}

.choice-heading span {
    text-transform: none;
    font-style: italic;
}

.choice-heading:last-child {
    text-transform: uppercase;
}

.content-second p {
    font-size: 0.9rem;
    line-height: 30px;
    margin-bottom: 50px;
}

.class-select {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    margin-bottom: 40px;
    border-radius: 0 30px 0 30px;
    background-color: var(--imperial-red-color);
    box-shadow: 15px 15px 15px var(--rich-black-color);
}

.class-select span {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 20px;
}

.class-select a {
    color: var(--eerie-black-color);
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--cultured-color);
    border-radius: 0 30px 0 30px;
}

/* Classes page styling */
.person-online {
    padding-top: 50px;
    color: var(--rich-black-color);
    background-color: var(--eerie-black-color);
}

.studio-home-info {
    display: block;
    margin: 0 auto;
    padding: 0 35px;
    max-width: 415px;
}

.studio-home-info .heading {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cultured-color);
}

.studio-home-info .heading span {
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    color: var(--imperial-red-color);
}

.studio-home-info p {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    line-height: 25px;
    color: var(--cultured-color);
}

.studio-home-info p span {
    line-height: 50px;
    color: var(--imperial-red-color);
}

.person-online .classes-container {
    background-color: var(--cultured-color);
}

.person-online .classes {
    display: block;
    margin: 0 auto;
    max-width: 415px;
    padding: 150px 35px 50px;
    background-color: var(--cultured-color);
}

.person-online .class {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--eerie-black-color);
}

.person-online .name {
    width: 45%;
    font-size: 1.5rem;
    font-weight: bold;
}

.person-online .duration-price {
    width: 30%;
    text-align: center;
}

.person-online .duration {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.person-online .price {
    font-size: 0.9rem;
}

.person-online a {
    font-size: 0.7rem;
    width: 25%;
    padding: 6px;
    margin: 30px 0;
    text-align: center;
    text-decoration: none;
    color: var(--cultured-color);
    background-color: var(--imperial-red-color);
    border-radius: 5px;
}

.class-link {
    justify-content: center;
}

.class-link a {
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0;
    width: 83%;
    border: none;
    color: var(--rich-black-color);
    background-color: unset;
}

.class-link span {
    font-size: 1.5rem;
    margin-left: 10px;
}

.in-studio img {
    display: block;
    position: relative;
    top: 100px;
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: -50px;
    border-radius: 5px 150px / 140px;
}

.at-home img {
    display: block;
    position: relative;
    top: 70px;
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: -30px;
    border-radius: 200px 200px 10px 10px;
}

/* Plans page styling */
.plans-container {
    padding: 0 35px 100px;
    background-color: var(--eerie-black-color);
    color: var(--cultured-color);
}

.plans-heading {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
}

.membership-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 60px;
    max-width: 415px;
    margin: 0 auto;
}

.silver-plan, .gold-plan, .platinum-plan {
    background-color: var(--cultured-color);
    text-align: center;
}

.plan-upper {
    font-size: 0.9rem;
    background-color: var(--imperial-red-color);
}

.plan-lower {
    font-size: 0.9rem;
    color: var(--rich-black-color);
    margin: 20px 0;
    line-height: 40px;
}

.plan-name {
    font-size: 1.5rem;
    padding: 40px 20px 20px 20px;
}

.plan-price {
    font-size: 2.5rem;
}

.dollar-sign {
    font-size: 1.5rem;
}

.price-month {
    font-weight: bold;
    margin: 5px 0 25px;
}

.plan-select-btn {
    width: 70%;
    max-width: 175px;
    font-size: 1.2rem;
    margin: 25px 0;
    padding: 5px 0;
    background-color: transparent;
    color: var(--cultured-color);
    border: 2px solid var(--cultured-color);
    border-radius: 4px;
}

.best-price {
    position: relative;
    top: -18px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    color: var(--rich-black-color);
    background-color: #FFD900;
}

.gold-plan .plan-name {
    padding-top: 0;
}

/* About page styling */
.about-befit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 35px 200px;
    color: var(--cultured-color);
    background-color: var(--eerie-black-color);
}

.about-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.about-befit p {
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
}

.befit-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: -100px auto;
    background-color: var(--cultured-color);
}

.story {
    padding: 30px 18px;
    background-color: var(--cultured-color);
}

.story div {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 30px 0;
}

.story p {
    font-size: 0.9rem;
    width: 100%;
    text-align:left;
    line-height: 25px;
    margin-bottom: 15px;
}

.story p:last-child {
    margin-bottom: 0;
}

.befit-story img {
    width: 100%;
}

.values {
    padding-top: 100px;
    padding-bottom: 35px;
    color: var(--cultured-color);
    background-color: var(--eerie-black-color);
}

.core-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.values-heading {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 50px 0;
}

.values-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 0 35px;
}

.values-container .item {
    padding-bottom: 50px;
    text-align: center;
}

.item i {
    font-size: 3rem;
}

.item .item-heading {
    font-size: 1.3rem;
    margin-top: 25px;
}

.values-container .item p {
    font-size: 0.9rem;
    margin-top: 20px;
    line-height: 30px;
}

.side-expand {
    max-width: 412px;
}

/* Contact page styling */
.contact-container {
    background-color: var(--eerie-black-color);
    color: var(--cultured-color);
}

.contact {
    margin: 0 auto;
    width: 100%;
    max-width: 412px;
    padding: 0 20px 0 35px;
}

.contact-heading {
    padding: 50px 0 25px;
    text-transform: uppercase;
    font-size: 2rem;
}

.contact-info label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.contact-info input {
    padding: 0 10px;
    outline: none;
    line-height: 30px;
    border-radius: 10px;
    background-color: var(--cultured-color);
    border: 5px solid var(--imperial-red-color);
}

.contact-info input::-webkit-outer-spin-button,
.contact-info input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-info input[type=number] {
    -moz-appearance: textfield;
}

.contact-info textarea {
    outline: none;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: var(--cultured-color);
    border: 5px solid var(--imperial-red-color);
}

.contact-submit input {
    border: none;
}

.contact-info input[type=submit] {
    font-size: 0.9rem;
    color: var(--cultured-color);
    text-transform: uppercase;
    background-color: var(--imperial-red-color);
    padding: 10px 30px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.first-name, .last-name, .contact-email, .contact-phone, .message {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.required::after {
    content: " *";
}

/* Social media links styling */
.youtube {
    color: var(--youtube-color);
}

.instagram {
    color: var(--instagram-color);
}

.twitter {
    color: var(--twitter-color);
}

.facebook {
    color: var(--facebook-color);
}

/* Sign in page styling */
.signin-page {
    margin: 0;
    padding: 0;
    width: 100%;
}

.signin-header {
    all: unset;
    display: block;
    margin: 16px 0 0 30px;
}

.signin-header a {
    color: var(--imperial-red-color);
    font-family: 'Lobster', 'Times New Roman', Times, serif;
}

.signin-header a i {
    margin-left: -10px;
    transform: rotate(40deg);
}

.signin-header .befit-logo {
    font-size: 1.8rem;
    text-decoration: none;
}

.card-layout {
    margin: 0 auto;
    width: 100%;
    max-width: 412px;
    padding: 20px 30px;
    font-family: 'Hind Siliguri', sans-serif;
}

.signin-container h1 {
    margin-bottom: 35px;
}

.form-input {
    position: relative;
    margin: 20px 0;
}

.form-input>input {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 1.5px solid var(--rich-black-color);
    padding: 25px 22px 7px 16px;
    background-color: transparent;
}

.form-input>label {
    font-size: 1.3rem;
    line-height: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    padding: 22px 0 0 17px;
    color: rgba(0,0,0,0.3);
    transition: 0.2s all;
    font-family: 'Hind Siliguri', sans-serif;
}

.form-input input:focus ~ label,
.form-input input:not(:placeholder-shown) + label {
    top: -11px;
    font-size: 0.9rem;
    color: rgba(0,0,0,0.9);
}

.form-input>input:focus {
    outline: none;
    border: 1.5px solid var(--imperial-red-color);
}

.forgot-password {
    position: relative;
    text-decoration: none;
    color: var(--imperial-red-color);
}

.form-control {
    display: block;
    margin: 15px 0;
}

.btn-signin {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 25px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    color: var(--cultured-color);
    background-color: var(--imperial-red-color);
}

.alternate-signin-container .signin-divider {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.alternate-signin-container .signin-divider::before,
.alternate-signin-container .signin-divider::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
}

.alternate-signin-container .signin-divider .text {
    font-size: 1.1rem;
    margin: 0 10px;
}

.btn-signin-google {
    margin: 20px 0 50px;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid var(--rich-black-color);
    background-color: var(--cultured-color);
}

.btn-signin-google i {
    color: #4285F4;
    margin-right: 10px;
}

.join-now {
    text-align: center;
}

.join-now a {
    margin-left: 5px;
    text-decoration: none;
    color: var(--imperial-red-color);
}